# udev rule tweak as needed
SUBSYSTEM=="pwm*", PROGRAM="/bin/sh -c '\
chown -R root:uio /sys/class/pwm && chmod -R g+w /sys/class/pwm;\
chown -R root:uio /sys/devices/platform/soc/*.pwm/pwm/pwmchip* && chmod -R g+w /sys/devices/platform/soc/*.pwm/pwm/pwmchip*\
'"
